/*--==========================================================FOOTER====================================================--*/

footer {}

* {
    box-sizing: border-box;
}

.footerSection {
    display: table;
 
}

.footer_display {
    display: table-cell;
    padding: 26px;
    border-bottom-style: outset;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
}

.footerSection {
   display: flex;
   
}

.footer_display {
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .footer_display {
        display: block;
        width: 100%;
    }
}

.column {
    display: table-cell;
    color: white;
}

.column a {
    text-decoration: none;
    color: #005551;
}

.column a:hover {
    background-color: white;
    color: #005551;
}

.description {
    color: #005551;
}

#blog a:active {
    color: #005551;
}

#qlinks a {
    color: #005551;
    line-height: 155%;
}

#cdetails a {
    color: #005551;
}

#newsletter {
    margin: auto;
}

#cdetails [id="#"] {
    color: #005551;
}

.date {
    color: #005551;
}

p.small {
    margin-top: 30px;
    line-height: 1.3;
    color: #807d77;
    font-family: "Georgia";
    font-size: 15px;
}

p.big {
    line-height: 1.3;
    color: #807d77;
    font-family: "Georgia";
    font-size: 15px;
}

input[type="submit"] {
    background-color: #005551;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-right: 30px;
    border-radius: 8px;
    text-transform: uppercase;
    width: 80px;
    height: 31px;
}


.socialicons {
    border-radius: 50%;
    color: #C0C0C0;
    width: 32px;
    height: 32px;
    background-color: #353535;
    margin-right: 7px;
}

.facebook {
    color: #C0C0C0;
    width: 32px;
    height: 32px;
    background-color: #353535;
}

.twitter {
    color: #C0C0C0;
    width: 32px;
    height: 32px;
    background-color: #353535;
}

.copyright {
    color: #84817a;
    background-color: #222222;
    height: 60px;
    padding: 16px;
    border-top-style: outset;
    border-top-color: #3A3A3A;
    border-top-width: 1px;
}

.copyright p {
    border-style: solid;
    height: 100px;
}

/*--======================================================/FOOTTER====================================================--*/