<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fcs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- Newww -->
        <link rel="stylesheet" type="text/css" href="../CSS/fcs.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div>
    <div class="col-md-12">      
        <!--==========================================================HEADER====================================================-->

        <header class="col-md-12" >
            <div class="right">
                <a href="/help"> Help </a>
            </div>
        </header>
    </div>
        <!--=========================================================/HEADER====================================================-->


    <!--==========================================================NAVBAR====================================================-->
    <div class="col-md-12">
        <div id="NAVBAR" class="col-md-12" >
            <div class="col-md-12" >
            <div id="logo" class="col-md-2">
            <h3><a href="/"><img src="{{url_for('static', filename='images/logo.png')}}" height="70px" width="120px"></a></h3>
            </div>
            <div class="col-md-7">
                <div class="col-md-8">
                    <form class="example" action="#">
                        <input onclick="myF1();" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" name="search">
                    </form>
                    <div id="myDropdown" class="dropdown-content">
                        <a onclick="myF1(); document.getElementById('myInput').value='Kip6(Kipsalas st 6) Faculty of architecture'; arg2 = 'FacultyofArchitecture';">Kip6(Kipsalas st 6) Faculty of architecture</a>
                        
                         <a onclick="myF1(); document.getElementById('myInput').value='Kip6A(Kipsalas st 6A) - Kip6B(Kipsalas st 6B) Faculty of Civil Engineering'; arg2 = 'FacultyofCivilEngineering';">Kip6A(Kipsalas st 6A) - Kip6B(Kipsalas st 6B) Faculty of Civil Engineering</a>
                        
                         <a onclick="myF1(); document.getElementById('myInput').value='S1(Setas st 1) - D2(Daugavgrivas st 2) - M1(Meza st) Faculty of Computer Science and Information Technology'; arg2 = 'FacultyofComputerScienceandInformationTechnology';">S1(Setas st 1) - D2(Daugavgrivas st 2) - M1(Meza st) Faculty of Computer Science and Information Technology</a>
                        
                         <a onclick="myF1(); document.getElementById('myInput').value='Kr(Kronvalda bulvaris) Faculty of E-Learning Technologies and Humanities'; arg2 = 'FacultyofE-LearningTechnologiesandHumanities';">Kr(Kronvalda bulvaris) Faculty of E-Learning Technologies and Humanities</a>
                        
                        <a onclick="myF1(); document.getElementById('myInput').value='Kc6(Kalnciema st 6) - K1(Kalku st 1) Faculty of Engineering Economics and Management'; arg2 = 'FacultyofEngineeringEconomicsandManagement';">Kc6(Kalnciema st 6) - K1(Kalku st 1) Faculty of Engineering Economics and Management</a>
                        
                         <a onclick="myF1(); document.getElementById('myInput').value='PV(Paula Valdena st) Faculty of Materials Science and Applied Chemistry'; arg2 = 'FacultyofMaterialsScienceandAppliedChemistry';">PV(Paula Valdena st) Faculty of Materials Science and Applied Chemistry</a>
                        
                         <a onclick="myF1(); document.getElementById('myInput').value='Kip6B(Kipsalas st 6B) Faculty of Mechanical Engineering Transport and Aeronautics'; arg2 = 'FacultyofMechanicalEngineeringTransportandAeronautics';">Kip6B(Kipsalas st 6B) Faculty of Mechanical Engineering Transport and Aeronautics</a>
                        
                         <a onclick="myF1(); document.getElementById('myInput').value='Az(Āzenes st) Faculty of Electrical and Environmental Engineering'; arg2 = 'FacultyofPowerandElectricalEngineering';">Az(Azenes st) Faculty of Electrical and Environmental Engineering</a>
                        
                        <a onclick="myF1(); document.getElementById('myInput').value='Az(Āzenes st) Faculty of Electronics and Telecommunications'; arg2 = 'FacultyofElectronicsandTelecommunications';">Az(Azenes st) Faculty of Electronics and Telecommunications</a>

                    </div>
                </div>
                <div class="col-md-4">
                    <button onclick="myF3()" class="btn cool-link btnSearch"   type="button">Search</button>
                </div>

            </div>
            <div class="col-md-3"  id="nav1">
                <ul>
                    <li>
                    <div class="col-md-2">
                    <a href="/" class="cool-link">Home</a>
                    </div>
                    </li>
                    <li id="nav1">
                    <div class="col-md-12">
                    <a href="/aboutus" class="cool-link">About us</a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>

        <!--=========================================================/NAVBAR====================================================-->

<div id="allFaculties" class="col-md-2" style="border: 1px solid #005551">
  <a class="active">Our Faculties</a>
  <a href="/FacultyofArchitecture">Faculty of Architecture</a>
  <a href="/FacultyofCivilEngineering">Faculty of Civil Engineering</a>
  <a href="/FacultyofComputerScienceandInformationTechnology">Faculty of Computer Science and Information Technology</a>
  <a href="/FacultyofE-LearningTechnologiesandHumanities">Faculty of E-Learning Technologies and Humanities</a>
    <a href="/FacultyofEngineeringEconomicsandManagement">Faculty of Engineering Economics and Management</a>
  <a href="/FacultyofMaterialsScienceandAppliedChemistry">Faculty of Materials Science and Applied Chemistry</a>
  <a href="/FacultyofMechanicalEngineeringTransportandAeronautics">Faculty of Mechanical Engineering, Transport and Aeronautics</a>
  <a href="/FacultyofPowerandElectricalEngineering">Faculty of Electrical and Environmental Engineering</a>
  <a href="/FacultyofElectronicsandTelecommunications">Faculty of Electronics and Telecommunications</a>
</div>
<!-- =================================================//BODY//============================================= -->
<div class = "col-md-10" id="faculty" >
    <a href="https://www.rtu.lv/en/university/structure-and-administration/faculties/materials-science-and-applied-chemistry">
       <h2 id="title">FACULTY OF MATERIALS SCIENCE AND APPLIED CHEMISTRY</h2>
     </a>
    <div>
       <div id="img" class="col-md-6">
       <a href="https://www.google.lv/maps/place/Paula+Valdena+iela,+Kurzemes+rajons,+R%C4%ABga,+LV-1048/@56.9541,24.0776413,17z/data=!3m1!4b1!4m5!3m4!1s0x46eecfe0d77126b7:0xa169fb344ffb5280!8m2!3d56.9541!4d24.07983">
           <img src="{{url_for('static', filename='images/chemistry.jpg')}}" style="width: 100%;"> 
       </a>
      
    </div> 
    <div id="door" class="col-md-6">
       <h2>Location</h2>
       <a style="color: black;" href="https://www.google.lv/maps/place/Paula+Valdena+iela,+Kurzemes+rajons,+R%C4%ABga,+LV-1048/@56.9541,24.0776413,17z/data=!3m1!4b1!4m5!3m4!1s0x46eecfe0d77126b7:0xa169fb344ffb5280!8m2!3d56.9541!4d24.07983">    
           <h4>
               <i class='fa fa-map-marker' style="font-size: 20px;"></i> 
               3/7 Paula Valdena Street, room 269, Riga
           </h4>
       </a>
       <h2>Contact</h2>
       <h4>
           <i class='fa fa-phone'></i> 
           +371 67089249
       </h4>
       <h4>
           <i class='fa fa-envelope-o'></i> 
           mlkf@rtu.lv
       </h4>
       <a href="https://www.rtu.lv/lv/mlkf" style="color: black;">
           <h4>
            mlkf.rtu.lv
           </h4>
       </a>
    </div>
    <div class="col-md-12">
        <h2 style="text-align: center;  color: #005551;">BUILDINGS</h2>
        
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#paulaModal" style="color: black;">
                <h3 id="paula">PV</h3>
                <h3 id="paula">Paula Valdena st</h3>
            </button>
            
        </div>
    </div>
    </div>

    </div>

    <!-- ============================================ MODAL============================================ --> 
  <!-- Paula Modal -->
  <div class="modal fade" id="paulaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" >
        <div class="col-md-10">
          <h3 class="modal-title" style="text-align: center; color:  #005551;" >Paula Valdena st</h3>
        </div>
        <div class="col-md-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        </div>
        <div class="modal-body">
         <!-- Add here coordinates at #-->
          <a href="https://www.google.lv/maps/place/56%C2%B057'12.9%22N+24%C2%B004'40.3%22E/@56.9535759,24.0756593,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d56.953573!4d24.077848"><img src="{{url_for('static', filename='images/paula_valdena.png')}}" style="width: 100%;"></a>
          <h4 style="text-align: center;"><a href="https://www.google.lv/maps/place/56%C2%B057'12.9%22N+24%C2%B004'40.3%22E/@56.9535759,24.0756593,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d56.953573!4d24.077848">Click here</a> to go to Google Maps</h4>
        </div>
        
      </div>
    </div>
  </div>

        <!--============================================================FOOTER===============================================================-->
 <div  class="col-md-12">
         <footer class="col-md-12">
            <div class="footerSection">
                
                <div class="footer_display" style="background:#222222">
                    <div id="blog" class="column">
                        <h3 style="margin-bottom: 1px;">Latest from us</h3>
                        <p style="color: #005551; margin-top: 35px; margin-bottom: 0; font-size: 16x; color:#005551">Best Orientation of 2020</p>
                        <p style="font-size: 12px; margin-top: 0; color: #807d77;">Friday, 20th April 2020</p>
                        <p style="color: #807d77; text-align: justify;">Here you can be orientend in finding your RTU building in best way possible. </p>
                    </div>
                </div>

                <div class="footer_display" style="background:#222222">
                    <div id="qlinks" class="column">
                        <h3 style="margin-bottom: 1px; margin-left: 40px;">Map Websites</h3> <br />

                        <ul style="list-style-type: none; margin-top: 17px;">
                            <li> &raquo; <a href="https://www.google.lv/maps/place/Latvija/@56.8600871,22.3017748,7z/data=!3m1!4b1!4m5!3m4!1s0x46e930677b8a9afd:0xcfcd68f2fc10!8m2!3d56.879635!4d24.603189">googleMap.lv</a></li>
                            <li> &raquo; <a href="https://www.rtu.lv/en">rtu.lv</a></li>
                            
                           
                        </ul>
                    </div>
                </div>

                <div class="footer_display" style="background:#222222">
                    <div id="cdetails" class="column">
                        <h3 style="margin-bottom: 37px;">Our Details</h3>
                        <div>
                            <adress>
                                <p class="small">Company Name<br />
                                    Street Name &amp; number<br />
                                    Address: Riga<br />
                                    Place: Latvia<br />
                                    Mail: 1011<br /></p>
                              
                            </adress><br />
                        </div>
                    </div>
                </div>

                <div class="footer_display" style="background:#222222">
                    <div id="newsletter" class="column">
                        
                        <h3 style="margin-bottom: 1px;">Contact Us</h3><br />
                        
                        <p class="big">Telephone: +371...<br />
                          Fax:+371....<br />
                          Email: <a href="mailto:findYourRTU@gmail.com">findYourRTU@gmail.com</a></p>

                        <p>
                            <a href="https://www.linkedin.com/"><img src="{{url_for('static', filename='images/linkedin.png')}}" class="socialicons" alt="linkedin" width="16" height="16"></a>
                            <a href="https://www.twitter.com/"><img src="{{url_for('static', filename='images/Twitter.png')}}" class="socialicons" alt="twitter" width="16" height="16"></a>
                            <a href="https://www.pinterest.com/"><img src="{{url_for('static', filename='images/Pinterest.png')}}" class="socialicons" alt="pinterest" width="16" height="16"></a>
                            <a href="https://www.plus.google.com/"><img src="{{url_for('static', filename='images/Google.png')}}" class="socialicons" alt="googleplus" width="16" height="16"></a>
                            <img class="socialicons" src="{{url_for('static', filename='images/rss.jpg')}}" alt="RSS" width="16" height="16">
                        </p>
                    </div>
                </div>
            </div>
            <div class="copyright" align="center"><em>Copyright &COPY; 2020 findYourRTU. All Rights Reserved.</em>
            </div>
        </footer>
    </div>
    <!--==========================================================/FOOTER===============================================================-->  
</div>
<script>
    var arg2;
    function myF1(){
        document.getElementById("myDropdown").classList.toggle("show");
        //window.location.replace("http://www.w3schools.com");
    }
    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }

    function myF3(){
        window.location.href = arg2;
    }
</script>
  
</body>

</html>